<h2>Login page</h2>

<form action="/login" method="get">
    <label for="username">username:</label>
    <input type="text" id="username" name="username" />
    <br />
    <label for="password">password:</label>
    <input type="password" id="password" name="password" />
    <br />
    <button type="submit">Log In</button>
</form>