<h2>Registration page</h2>

    {{#if regError}}
        <div style="color: rgb(207, 55, 35)">{{regError}}</div>
    {{/if}}

<form action="/register" method="post">
    <label for="username">username:</label>
    <input type="text" id="username" name="username" />
    <br/>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" />
    <br />
    <label for="passwordRepeat"> repeat password:</label>
    <input type="password" id="passwordRepeat" name="passwordRepeat" />
    <br />
    <button type="submit">Register</button>
</form>